.basket-block {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 10px;
  }

  &__wrapper {
    display: flex;
  }

  &__count {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 90px;
    height: 33px;
    padding: 0 10px;
    border: 1px solid var(--grayColor);
    border-right: 0;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: .07em;
    color: var(--grayDarkColor);
  }

  &__num {
    //margin-right: 15px;
  }

  &__divider {
    padding: 0 3px;
    line-height: 1;
  }

  &__btn {
    display: block;
    width: 110px;
    height: 33px;
    border: 1px solid var(--grayColor);
    background-color: var(--grayBg);
    font-family: "OpenSans", sans-serif;
    font-size: 12px;
    letter-spacing: .07em;
    text-align: center;
    line-height: 32px;
    color: #fff;
  }

  &--active {

    .basket-block__btn {
      background-color: var(--orangeColor);
    }

    .basket-block__num {
      color: var(--orangeColor);
    }
  }
}
