.custom-select {
  max-width: 190px;
  width: 100%;
  height: 40px;

  font-family: "MyriadPro";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .03em;
  line-height: 13px;
  text-align: left;
  color: #757575;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .88);

  .ss-single-selected {
    height: 40px;
    border-radius: 2px;
    background: #fefefe;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .31);

    .ss-arrow {
      position: absolute;
      top: 0;
      right: 0;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin: 0;
      padding: 0;
      border-left: 1px solid var(--grayBorderColor);

      .arrow-down,
      .arrow-up {
        width: 5px;
        height: 11px;
        margin: 0;
        padding: 0;
        transform: none;
        border: 0;
        background-image: url("../img/svg/icon-arrow-select.svg");
        background-repeat: no-repeat;
        background-size: contain;
        transition: background-image .3s;
      }

      span.arrow-down,
      span.arrow-up {
        margin: 0;
        transform: none;
      }
    }

    .placeholder {

      .ss-disabled {
        font-family: "MyriadPro";
        font-weight: 400;
        font-size: 14px;
        letter-spacing: .03em;
        line-height: 13px;
        text-align: left;
        color: #757575;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, .88);
      }
    }

    &.ss-open-below {
      color: var(--darkBlueMainColor);

      .placeholder {

        .ss-disabled {
          color: var(--darkBlueMainColor);
        }
      }

      .ss-arrow {
        border-color: var(--darkBlueMainColor);

        .arrow-down,
        .arrow-up {
          background-image: url("../img/svg/icon-arrow-select-blue.svg");
        }
      }
    }
  }

  .ss-content .ss-list .ss-option {
    transition: background-color .3s, color .3s;

    &.ss-highlighted,
    &:hover {
      background-color: #ebebeb;
      color: #5a5a5a;
    }
  }
}
