.goods-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #A4E1FD;

  &__weather-icon {
    position: absolute;
    top: 14px;
    left: 14px;
  }

  &__img {
    img {
      display: block;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 13px 20px 10px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #A4E1FD;
      transition: height .3s;
    }

  }

  &__type {
    padding-bottom: 1px;
    font-size: 12px;
    line-height: 1.2;
    text-align: left;
    color: #178CF8;
  }

  &__name {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.2;
    color: var(--grayTextColor);
  }

  &__spec {
    flex-grow: 1;
    margin-bottom: 10px;
    font-weight: 600;
    font-style: italic;
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: #00161a;
  }

  &__price {
    padding-top: 8px;
    border-top: 1px solid var(--grayColor);
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #f45a40;
    transition: border-top-color .3s, font-size .3s, color .3s;
  }

  &__current-price {
    transition: border-top-color .3s, font-size .3s, color .3s;
  }

  &__old-price {
    padding-right: 15px;
    font-size: 14px;
    text-decoration: line-through;
    color: #5B5C61;
  }

  &:hover {
    .goods-card__content {
      &:after {
        height: 3px;
      }
    }

    .goods-card__price {
      border-top-color: #317795;
    }

    .goods-card__current-price {
      font-size: 14px;
      color: var(--blackColor);
    }
  }
}
