.main-slider {
  //height: auto;
  //width: 100%;

  &__container {
    width: 100%;
    //height: auto;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__slide-img {
  }

  &__button {
    width: 42px;
    height: 42px;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
    transition: opacity .3s;

    &:hover {
      opacity: .9;
    }

    &::after {
      content: "";
      width: 42px;
      height: 42px;
      background-image: url("../img/svg/icon-button-slider.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--prev {
      left: 80px;

      &::after {
        transform: rotate(180deg);
      }
    }

    &--next {
      right: 80px;
    }
  }
}
