.services-list {
  position: relative;
  //display: grid;
  //grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (max-width: 800px) {
    flex-wrap: wrap;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50px;
    width: 1px;
    height: 119px;
    background-color: #d6d6d6;

    @media screen and (max-width: 500px) {
      opacity: 0;
    }
  }

  &::after {
    left: 0;
  }

  &::before {
    right: 0;
  }

  &__item {
    position: relative;
    padding: 30px 20px 15px;

    @media screen and (max-width: 800px) {
      width: 50%;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
      padding: 30px 10px 15px;
    }

    &:not(:last-of-type) {

      &::before {
        content: "";
        position: absolute;
        top: 50px;
        right: 0;
        width: 1px;
        height: 119px;
        background-color: #d6d6d6;

        @media screen and (max-width: 500px) {
          top: auto;
          right: auto;
          left: 50%;
          bottom: 0;
          width: 119px;
          height: 1px;
          transform: translateX(-50%);
        }
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    font-family: "OpenSans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #106fc2;
  }

  &__text {
    max-width: 240px;
    width: 100%;
    margin: 10px auto 0;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: var(--grayTextColor);
  }
}
