.visually-hidden,
input[type="file"].visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}

.scroll-lock {
  overflow-y: auto;
  position: fixed;
}

.btn-reset {
  cursor: pointer;
  padding: 0;
  background: var(--color-transparent);
  border: 0;
}

.main-content {
  padding-bottom: 40px;
}

.section-title {
  margin: 0;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: var(--blackColor);

  &--left {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
  }
}

.section-top {
  margin-bottom: 10px;
  padding-top: 25px;
  border-top: 1px solid #d6d6d6;
  font-size: 24px;
  line-height: 21px;
  text-align: left;

  .section-title {
    display: inline-block;
    text-transform: uppercase;
  }

  a {
    font-family: "OpenSans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-align: right;
    color: #2fa4db;
    transition: opacity .3s;

    &:hover {
      opacity: .8;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 42px;
  height: 42px;
  padding: 0;
  border: 0;
  background-color: transparent;
  outline-width: 0;

  &::after {
    content: "";
    width: 42px;
    height: 42px;
    background-image: url(../img/svg/icon-button-slider.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.swiper-button-prev {

  &::after {
    transform: rotate(180deg);
  }
}

.swiper-pagination {
  opacity: 1;
}

.swiper-pagination-bullet {
  border: 2px solid #ffffff;
  background-color: transparent;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.input-wrapper {
  position: relative;
  transition: border-color .3s;

  input {
    outline: none;
    border: 1px solid #d1dbe3;
    border-radius: 5px;
    background: #fff;
    padding: 0 15px;
    width: 100%;
    height: 60px;
  }

  textarea {
    outline: none;
    border: 1px solid #d1dbe3;
    border-radius: 5px;
    background: #fff;
    padding: 20px 15px;
    width: 100%;
    height: 100%;
    resize: none;
  }

  &--textarea {
    flex-grow: 1;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 100%;
    height: 180px;
  }

  &__label {
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 14px;
    transition: top .3s, font-size .3s;
    pointer-events: none;
  }

  &--focus {

    .input-wrapper__label {
      top: 0px;
      font-size: 11px;
    }
  }

  &--error {

    input {
      border-color: var(--redMainColor) !important;
    }

    textarea {
      border-color: var(--redMainColor) !important;
    }
  }
}

.main-btn {
  height: 40px;
  padding: 0 35px;
  border: 0;
  border-radius: 5px;
  background-color: #106fc2;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, .2);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  transition: box-shadow .3s, opacity .3s;
  cursor: pointer;
  outline: none;

  &:hover,
  &:active {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, .2);
    opacity: .9;
    outline: none;
  }
}
