<section class="brands-block">
  <div class="container">
    <div class="section-top">
      <h2 class="section-title">Бренды</h2>
      <a href="" target="_blank">смотреть всё</a>
    </div>

    <ul class="brand-list">
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-1.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-2.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-3.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-4.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-5.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-6.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-7.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-2.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-6.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-7.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-2.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-2.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-3.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-4.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-5.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-4.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-5.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-3.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-4.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-5.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-4.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-5.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-4.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-5.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-3.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-5.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-4.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-5.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-1.png" alt=""></a>
      </li>
      <li class="brand-list__item">
        <a href=""><img src="img/content/brand-2.png" alt=""></a>
      </li>
    </ul>
  </div>
</section>

