<div class="category-main-block">
  <div class="container">
    <ul class="category-main-block__list">
      <li class="category-main-block__item">
        <a href="" class="category-main-block__link">
          <div class="category-main-block__card category-main-block__card--tires">
            <span class="category-main-block__text">Подобрать</span>
            <span class="category-main-block__title">ШИНЫ</span>
          </div>
        </a>
      </li>

      <li class="category-main-block__item">
        <a href="" class="category-main-block__link">
          <div class="category-main-block__card category-main-block__card--disk">
            <span class="category-main-block__text">Подобрать</span>
            <span class="category-main-block__title">ДИСКИ</span>
          </div>
        </a>
      </li>

      <li class="category-main-block__item">
        <a href="" class="category-main-block__link">
          <div class="category-main-block__card category-main-block__card--accum">
            <span class="category-main-block__text">Подобрать</span>
            <div class="category-main-block__title"><span>АККУМУЛЯТОР</span></div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
