<div class="product-description">
  <p>Yokohama BluEarth-Es ES32 – представленные в 2017 году летние ненаправленные шины для компактных транспортных средств и небольших семейных автомобилей. Они характеризуются надёжными сцепными свойствами на мокрой и сухой дорожной поверхности, прочностью и длительностью срока эксплуатации, топливной экономичностью, а также способностью обеспечить комфортную езду с превосходной стабильностью.
    «BluEarth» в названии является прямой отсылкой к использованным в модели зелёным технологиям, дружественным к окружающей среде. Кроме того, BluEarth означает, что шины «ES32» обеспечивают снижение расхода топлива автомобилем, а также низкий уровень шума и вибраций.
  </p>

  <div class="product-description__promotion">
    <include src="src/html/components/product-promotion.html"></include>
  </div>
</div>
