<div class="main-slider">
  <div class="main-slider__container swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="main-slider__slide">
          <picture>
            <source class="main-slider__slide-img" srcset="img/content/slide.jpg" media="(min-width: 1920px)">
            <source class="main-slider__slide-img" srcset="img/content/slide.jpg" media="(min-width: 1000px)">
            <source class="main-slider__slide-img" srcset="img/content/slide.jpg" media="(min-width: 600px)">
            <source class="main-slider__slide-img" srcset="img/content/slide.jpg" media="(min-width: 320px)">
            <img class="main-slider__slide-img" src="img/content/slide.jpg" alt="заголовок слайда" title="заголовок слайда">
          </picture>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="main-slider__slide">
          <picture>
            <source class="main-slider__slide-img" srcset="img/content/slide.jpg" media="(min-width: 1920px)">
            <source class="main-slider__slide-img" srcset="img/content/slide.jpg" media="(min-width: 1000px)">
            <source class="main-slider__slide-img" srcset="img/content/slide.jpg" media="(min-width: 600px)">
            <source class="main-slider__slide-img" srcset="img/content/slide.jpg" media="(min-width: 320px)">
            <img class="main-slider__slide-img" src="img/content/slide.jpg" alt="заголовок слайда" title="заголовок слайда">
          </picture>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="main-slider__slide">
          <picture>
            <source class="main-slider__slide-img" srcset="img/content/slide.jpg" media="(min-width: 1920px)">
            <source class="main-slider__slide-img" srcset="img/content/slide.jpg" media="(min-width: 1000px)">
            <source class="main-slider__slide-img" srcset="img/content/slide.jpg" media="(min-width: 600px)">
            <source class="main-slider__slide-img" srcset="img/content/slide.jpg" media="(min-width: 320px)">
            <img class="main-slider__slide-img" src="img/content/slide.jpg" alt="заголовок слайда" title="заголовок слайда">
          </picture>
        </div>
      </div>
    </div>

    <div class="swiper-pagination main-slider__pagination"></div>

    <button class="swiper-button-prev main-slider__button main-slider__button--prev"></button>
    <button class="swiper-button-next main-slider__button main-slider__button--next"></button>
  </div>
</div>
