<section class="main-articles-block">
  <div class="container">
    <div class="section-top">
      <h2 class="section-title">Статьи и акции</h2>
    </div>

    <ul class="main-articles-list">
      <li class="main-articles-list__item">
        <a href="">
          <span class="main-articles-list__title">Новая публикация</span>
          <p class="main-articles-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing,
            vivamus congue nulla leo, quis imperdiet magna.
          </p>
        </a>
      </li>
      <li class="main-articles-list__item">
        <a href="">
          <span class="main-articles-list__title">Другая новая публикация</span>
          <p class="main-articles-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing,
            vivamus congue nulla leo, quis imperdiet magna.
          </p>
        </a>
      </li>
      <li class="main-articles-list__item">
        <a href="">
          <span class="main-articles-list__title">Не очень новая публикация</span>
          <p class="main-articles-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing,
            vivamus congue nulla leo, quis imperdiet magna.
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
