<div class="product-compatibility">
  <div class="section-title product-compatibility__heading">
    Подходит для автомобилей
  </div>
  <ul class="product-compatibility__model-list">
    <li class="product-compatibility__model">Тоyota</li>
    <li class="product-compatibility__model">Ford</li>
    <li class="product-compatibility__model">Tesla</li>
    <li class="product-compatibility__model">Fiat</li>
    <li class="product-compatibility__model">Chevrolet</li>
    <li class="product-compatibility__model">Citroen</li>
    <li class="product-compatibility__model">Daihatsu</li>
    <li class="product-compatibility__model">Тоyota</li>
    <li class="product-compatibility__model">Ford</li>
    <li class="product-compatibility__model">Tesla</li>
    <li class="product-compatibility__model">Fiat</li>
    <li class="product-compatibility__model">Chevrolet</li>
    <li class="product-compatibility__model">Daihatsu</li>
    <li class="product-compatibility__model">Тоyota</li>
    <li class="product-compatibility__model">Ford</li>
    <li class="product-compatibility__model">Ford</li>
    <li class="product-compatibility__model">Tesla</li>
    <li class="product-compatibility__model">Fiat</li>
    <li class="product-compatibility__model">Chevrolet</li>
  </ul>


  <div class="compatibility-table-wrapper">
    <div class="compatibility-table">
      <div class="compatibility-table__heading">
        <div>Производитель</div>
        <div>Марка</div>
        <div rowspan="2">Модель и модификация</div>
      </div>
      <div class="compatibility-table__body">
        <div class="compatibility-table__row">
          <div class="compatibility-table__cell">
            <div class="compatibility-table__manufacturer">Chevrolet</div>
          </div>
          <div class="compatibility-table__cell compatibility-table__brand">
            <div class="mini-cell">
              Celta
            </div>
            <div class="mini-cell">
              Classic
            </div>
          </div>
          <div class="compatibility-table__cell compatibility-table__model">
            <div class="mini-cell">
              2001-2011 <span>1.0</span>
            </div>
            <div class="mini-cell">
              2003-2016 <span>1.0 / 1.4</span>
            </div>
          </div>
        </div>
        <div class="compatibility-table__row">
          <div class="compatibility-table__cell">
            <div class="compatibility-table__manufacturer">Citroen</div>
          </div>
          <div class="compatibility-table__cell compatibility-table__brand">
            <div class="mini-cell">
              ZX
            </div>
            <div class="mini-cell">
              Fukang
            </div>
          </div>
          <div class="compatibility-table__cell compatibility-table__model">
            <div class="mini-cell">
              2001-2011 <span>1.0</span>
            </div>
            <div class="mini-cell">
              2003-2016 <span>1.0 / 1.4</span>
            </div>
          </div>
        </div>
        <div class="compatibility-table__row">
          <div class="compatibility-table__cell">
            <div class="compatibility-table__manufacturer">Dacia</div>
          </div>
          <div class="compatibility-table__cell compatibility-table__brand">
            <div class="mini-cell">
              Fukang
            </div>
          </div>
          <div class="compatibility-table__cell compatibility-table__model">
            <div class="mini-cell">
              2001-2011 <span>1.0</span>
            </div>
            <div class="mini-cell">
              2003-2016 <span>1.0 / 1.4</span>
            </div>
          </div>
        </div>
        <div class="compatibility-table__row">
          <div class="compatibility-table__cell">
            <div class="compatibility-table__manufacturer">Daihatsu</div>
          </div>
          <div class="compatibility-table__cell compatibility-table__brand">
            <div class="mini-cell">
              ZX
            </div>
            <div class="mini-cell">
              Fukang
            </div>
            <div class="mini-cell">
              Fukang
            </div>
          </div>
          <div class="compatibility-table__cell compatibility-table__model">
            <div class="mini-cell">
              2001-2011 <span>1.0</span>
            </div>
            <div class="mini-cell">
              2003-2016 <span>1.0 / 1.4</span>
            </div>
            <div class="mini-cell">
              2003-2016 <span>1.0 / 1.4</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
