<div class="promotion-product-block">
  <div class="promotion-product-block__heading">При покупке этой модели действуют следующие акции:</div>

  <div class="promotion-product-block__wrapper">
    <div class="promotion-product-block__img">
      <div class="promotion-slider swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/content/img-product-promotion.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="img/content/img-product-promotion.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="img/content/img-product-promotion.jpg" alt="">
          </div>
        </div>

        <div class="swiper-pagination promotion-slider__pagination"></div>

        <button type="button" aria-label="prev" class="swiper-button-prev promotion-slider__prev"></button>
        <button type="button" aria-label="next" class="swiper-button-next promotion-slider__next"></button>
      </div>
    </div>

    <div class="promotion-product-block__description">
     <div class="swiper-container slider-description-thumb">
       <div class="swiper-wrapper">
         <div class="swiper-slide">
           <h3>Шиномонтаж в подарок</h3>
           <p>Yokohama BluEarth-Es ES32 – представленные в 2017 году летние ненаправленные шины для компактных транспортных средств и небольших семейных автомобилей. Они характеризуются надёжными сцепными свойствами на мокрой и сухой дорожной поверхности, прочностью и длительностью срока эксплуатации, </p>
         </div>
         <div class="swiper-slide">
           <h3>Демонтаж в подарок</h3>
           <p>Yokohama BluEarth-Es ES32 – представленные в 2017 году летние ненаправленные шины для компактных транспортных средств и небольших семейных автомобилей. Они характеризуются надёжными сцепными свойствами на мокрой и сухой дорожной поверхности, прочностью и длительностью срока эксплуатации, </p>
         </div>
         <div class="swiper-slide">
           <h3>Кибермонтаж в подарок</h3>
           <p>Yokohama BluEarth-Es ES32 – представленные в 2017 году летние ненаправленные шины для компактных транспортных средств и небольших семейных автомобилей. Они характеризуются надёжными сцепными свойствами на мокрой и сухой дорожной поверхности, прочностью и длительностью срока эксплуатации, </p>
         </div>
       </div>
     </div>
    </div>
  </div>
</div>
