<div class="search-block search-block--collapse">
  <div class="container search-block__wrapper">
    <figure class="search-block__logo">
      <img src="img/svg/main-logo-white.svg" alt="Виктория" title="Виктория">

      <figcaption>
        <span>интернет магазин шин</span>
      </figcaption>
    </figure>

    <div class="search-block__city">
      <form action="">
        <select name="" id="" class="search-block__city-select">
          <option value="Сочи">Сочи</option>
          <option value="Багдад">Багдад</option>
          <option value="Конго">Конго</option>
        </select>
      </form>
    </div>

    <form class="search-block__form search-form">
      <span class="search-form__text">Подобрать</span>

      <div class="search-form__type">
        <select class="custom-select" name="type" id="type">
          <option value="шины">шины</option>
          <option value="диски">диски</option>
          <option value="аккумуляторы">аккумуляторы</option>
        </select>

        <div class="select-type">
          <button type="button" data-type-select="диски">диски</button>,
          <button type="button" data-type-select="аккумуляторы">аккумуляторы</button>
        </div>
      </div>

      <span class="search-form__text">для</span>

      <select class="custom-select" name="mark" id="mark">
        <option data-placeholder="true">Марка</option>
        <option value="Киа">Киа</option>
        <option value="Мерс">Мерс</option>
        <option value="Жигуль">Жигуль</option>
      </select>

      <select class="custom-select" name="model" id="model">
        <option data-placeholder="true">Модель</option>
        <option value="т1000">т1000</option>
        <option value="т800">т800</option>
        <option value="1408">1408</option>
      </select>

      <select class="custom-select" name="year" id="year">
        <option data-placeholder="true">Год</option>
        <option value="1920">1920</option>
        <option value="1950">1950</option>
        <option value="666">666</option>
      </select>

      <select class="custom-select" name="modification" id="modification">
        <option data-placeholder="true">Модификация</option>
        <option value="С крыльями">С крыльями</option>
        <option value="Без дверей">Без дверей</option>
        <option value="Потоковый накопитель">Потоковый накопитель</option>
      </select>

      <button class="search-form__btn" type="submit" aria-label="Найти"><svg width="20" height="20"><use xlink:href="#icon-arrow-button"></use></svg></button>

      <a href="" class="search-form__link-params">по параметрам</a>
    </form>
  </div>
</div>
