<div class="search-block search-block--mini">
  <button class="search-block__close"></button>
  <div class="container">
    <form class="search-block__form search-form">
      <span class="search-form__text">Подобрать</span>

      <div class="search-form__type">
        <select class="custom-select-search" name="type" id="type">
          <option value="шины">шины</option>
          <option value="диски">диски</option>
          <option value="аккумуляторы">аккумуляторы</option>
        </select>

        <div class="select-type">
          <button type="button" data-type-select="диски">диски</button>,
          <button type="button" data-type-select__fav-count="аккумуляторы">аккумуляторы</button>
        </div>
      </div>

      <span class="search-form__text">для</span>

      <div class="search-form__wrapper-spec">
        <select class="custom-select-search" name="mark" id="mark">
          <option></option>
          <option value="Киа">Киа</option>
          <option value="Мерс">Мерс</option>
          <option value="Жигуль">Жигуль</option>
        </select>

        <select class="custom-select-search" name="model" id="model">
          <option></option>
          <option value="т1000">т1000</option>
          <option value="т800">т800</option>
          <option value="1408">1408</option>
        </select>

        <select class="custom-select-search" name="year" id="year">
          <option></option>
          <option value="1920">1920</option>
          <option value="1950">1950</option>
          <option value="666">666</option>
        </select>

        <select class="custom-select-search" name="modification" id="modification">
          <option></option>
          <option value="С крыльями">С крыльями</option>
          <option value="Без дверей">Без дверей</option>
          <option value="Потоковый накопитель">Потоковый накопитель</option>
        </select>
      </div>

      <button class="search-form__btn" type="submit" aria-label="Найти"><svg width="20" height="20"><use xlink:href="#icon-arrow-button"></use></svg></button>
    </form>
  </div>
</div>
