<div class="section-goods section-goods--similar">
  <div class="section-goods__wrapper">
    <div class="section-top">
      <span class="section-title">Схожие товары</span>
    </div>

    <ul class="goods-list">
      <li class="goods-list__item">
        <a href="" class="goods-list__link">
          <div class="goods-card">
            <div class="goods-card__fav goods-card__fav--active">
              <svg width="6" height="10"><use xlink:href="#icon-bookmark"></use></svg>
            </div>
            <div class="goods-card__weather-icon">
              <svg width="62" height="22"><use xlink:href="#icon-summer-weather"></use></svg>
            </div>
            <div class="goods-card__img">
              <img src="img/content/good-1.jpg" alt="">
            </div>
            <div class="goods-card__content">
              <span class="goods-card__type">ШИНЫ</span>
              <span class="goods-card__name">Forceum OCTA</span>
              <div class="goods-card__spec">195/65R15 H Летние</div>
              <div class="goods-card__price">
                <span class="goods-card__old-price">1950 Р</span>
                <span class="goods-card__current-price goods-card__current-price--special">1950 Р</span>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="goods-list__item">
        <a href="" class="goods-list__link">
          <div class="goods-card">
            <div class="goods-card__fav">
              <svg width="6" height="10"><use xlink:href="#icon-bookmark"></use></svg>
            </div>
            <div class="goods-card__weather-icon">
              <svg width="62" height="22"><use xlink:href="#icon-winter-weather"></use></svg>
            </div>
            <div class="goods-card__img">
              <img src="img/content/good-1.jpg" alt="">
            </div>
            <div class="goods-card__content">
              <span class="goods-card__type">ШИНЫ</span>
              <span class="goods-card__name">Forceum OCTA</span>
              <div class="goods-card__spec">195/65R15 H Летние</div>
              <div class="goods-card__price">
                <span class="goods-card__old-price">1950 Р</span>
                <span class="goods-card__current-price goods-card__current-price--special">1950 Р</span>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="goods-list__item">
        <a href="" class="goods-list__link">
          <div class="goods-card">
            <div class="goods-card__fav">
              <svg width="6" height="10"><use xlink:href="#icon-bookmark"></use></svg>
            </div>
            <div class="goods-card__weather-icon">
              <svg width="62" height="22"><use xlink:href="#icon-summer-weather"></use></svg>
            </div>
            <div class="goods-card__img">
              <img src="img/content/good-1.jpg" alt="">
            </div>
            <div class="goods-card__content">
              <span class="goods-card__type">ШИНЫ</span>
              <span class="goods-card__name">Forceum OCTA</span>
              <div class="goods-card__spec">195/65R15 H Летние</div>
              <div class="goods-card__price">
                <span class="goods-card__old-price">1950 Р</span>
                <span class="goods-card__current-price goods-card__current-price--special">1950 Р</span>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="goods-list__item">
        <a href="" class="goods-list__link">
          <div class="goods-card">
            <div class="goods-card__fav">
              <svg width="6" height="10"><use xlink:href="#icon-bookmark"></use></svg>
            </div>
            <div class="goods-card__weather-icon">
              <svg width="62" height="22"><use xlink:href="#icon-summer-weather"></use></svg>
            </div>
            <div class="goods-card__img">
              <img src="img/content/good-1.jpg" alt="">
            </div>
            <div class="goods-card__content">
              <span class="goods-card__type">ШИНЫ</span>
              <span class="goods-card__name">Forceum OCTA</span>
              <div class="goods-card__spec">195/65R15 H Летние</div>
              <div class="goods-card__price">
                <span class="goods-card__old-price">1950 Р</span>
                <span class="goods-card__current-price goods-card__current-price--special">1950 Р</span>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
