<div class="services-section">
  <div class="container">
    <ul class="services-list">
      <li class="services-list__item">
        <div class="services-list__icon">
          <svg width="32" height="32">
            <use xlink:href="#icon-check-circle"></use>
          </svg>
        </div>
        <div class="services-list__title">Шиномонтаж</div>
        <p class="services-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing,vivamus congue nulla leo, quis imperdiet magna.</p>
      </li>

      <li class="services-list__item">
        <div class="services-list__icon">
          <svg width="32" height="32">
            <use xlink:href="#icon-check-circle"></use>
          </svg>
        </div>
        <div class="services-list__title">Доставка</div>
        <p class="services-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing,vivamus congue nulla leo, quis imperdiet magna.</p>
      </li>

      <li class="services-list__item">
        <div class="services-list__icon">
          <svg width="32" height="32">
            <use xlink:href="#icon-check-circle"></use>
          </svg>
        </div>
        <div class="services-list__title">Хранение</div>
        <p class="services-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing,vivamus congue nulla leo, quis imperdiet magna.</p>
      </li>

      <li class="services-list__item">
        <div class="services-list__icon">
          <svg width="32" height="32">
            <use xlink:href="#icon-check-circle"></use>
          </svg>
        </div>
        <div class="services-list__title">Ремонт</div>
        <p class="services-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing,vivamus congue nulla leo, quis imperdiet magna.</p>
      </li>
    </ul>
  </div>
</div>
