<div class="title-product-filter">
  <div class="container title-product-filter__wrapper">
    <div class="title-product-filter__icon">
                                                  <!-- #icon-accum -->
                                                  <!-- #icon-tires -->
      <svg width="36" height="36"><use xlink:href="#icon-rims"></use></svg>
    </div>

    <div class="title-product-filter__info">
      <div class="title-product-filter__name">
        Kia Sportage
      </div>
      <div class="title-product-filter__spec">
        Внедорожник 2.0i 2010 – 2016
      </div>

      <a href="" class="title-product-filter__reset">(сбросить)</a>
    </div>

    <button type="button" class="title-product-filter__change">
      <span class="title-product-filter__change-text">другой автомобиль</span>
      <span class="title-product-filter__change-icon">
        <svg width="24" height="24"><use xlink:href="#icon-steering-wheel"></use></svg>
      </span>
    </button>

    <include src="src/html/components/search-block-mini.html"></include>
  </div>
</div>
