<div class="top-inform-block">
  <div class="container top-inform-block__wrapper">
    <div class="top-inform-block__left">
      <a class="top-inform-block__tel" href="tel:8(988)0838383">8 (988) 083 83 83</a>
      <span>Сочи, ул. Горького, 89/4</span>
      <a class="top-inform-block__map" href=""><span>на карте</span> <svg width="11" height="14"><use xlink:href="#icon-map-pin"></use></svg></a>
    </div>
    <div class="top-inform-block__right">
      <ul class="top-inform-block__menu">
        <li><a href="">О компании</a></li>
        <li><a href="">Доставка и оплата</a></li>
        <li><a href="">Контакты</a></li>
      </ul>

      <a href="" class="top-inform-block__user-acc"><svg width="11" height="16"><use xlink:href="#icon-user-account"></use></svg> <span>Мой кабинет</span></a>
    </div>
  </div>
</div>
