.error-page {
  height: 100vh;
  background-color: var(--darkBlueMainColor);

  @media screen and (max-width: 600px) {
    height: auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    @media screen and (max-width: 600px) {
      height: auto;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 25px;
    color: #fff;

    img {
      margin-bottom: 33px;

      @media screen and (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
  }

  &__error-block {
    margin-bottom: 50px;
  }

  &__error-num {
    display: block;
    font-weight: 700;
    font-size: 73px;
    line-height: 1.1;
    text-align: center;
    color: #ffffff;
    opacity: .1;
  }

  &__error-text {
    font-size: 14px;
    letter-spacing: .03em;
    line-height: 13px;
    text-transform: uppercase;
    text-align: center;
    color: #f9f9f9;
  }

  &__catalog {
    padding: 30px 55px;
    border: 1px dashed #366070;
    border-image: url("../img/svg/border-dashed.svg");
    border-image-slice: 11;
    border-image-width: 10px 10px;

    @media screen and (max-width: 600px) {
      padding: 30px 20px;
    }
  }

  &__catalog-text {
    margin-bottom: 10px;
    font-family: MyriadPro, sans-serif;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: .03em;
    line-height: 13px;
    text-transform: uppercase;
    text-align: center;
    color: #f9f9f9;
  }

  &__catalog-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  &__catalog-link {
    font-family: MyriadPro, sans-serif;
    font-weight: 400;
    text-decoration: underline;
    font-size: 18px;
    letter-spacing: .03em;
    line-height: 14.4px;
    text-align: center;
    text-transform: uppercase;
    color: #2fa4db;
    transition: opacity .3s;

    &:hover {
      opacity: .8;
    }
  }
}
