@import "variables";

// Vendor
//---------------------------------

@import "vendor/normalize";

@import "vendor/swiper";

@import "vendor/slimselect";

@import "vendor/jquery.fancybox.min";

// Global
//---------------------------------

@import "mixins";

@import "global/fonts";

@import "global/typography";

@import "global/reboot";

@import "global/utils";

@import "global/container";

//
// components
//-------
@import "components/main-nav";

@import "components/second-nav";

@import "components/basket-block";

@import "components/custom-select";

@import "components/search-form";

@import "components/main-slider";

@import "components/services-section";

@import "components/section-goods";

@import "components/goods-cart";

@import "components/main-articles-list";

@import "components/range-filter-block";

@import "components/radio-block";

@import "components/checkbox-block";

@import "components/standart-size";

@import "components/sorting-block";

@import "components/paginator";

@import "components/section-text-page";

@import "components/breadcrumbs";

@import "components/product-tab";

@import "components/product-description";

@import "components/product-promotion-block";

@import "components/warranty-block";

@import "components/product-compatibility";

@import "components/review-card";

@import "components/star-rating";

@import "components/form-review";

@import "components/article-list-item";

//
// blocks
//-------
@import "blocks/header";

@import "blocks/top-inform-block";

@import "blocks/search-block";

@import "blocks/title-product-filter";

@import "blocks/brands-block";

@import "blocks/main-articles-block";

@import "blocks/main-page-text";

@import "blocks/category-main-block";

@import "blocks/filter-block";

@import "blocks/product-list-page";

@import "blocks/product-page";

@import "blocks/article-list-page";

@import "blocks/article-block";

@import "blocks/main-brand-list";

@import "blocks/faq";

@import "blocks/certificate-page";

@import "blocks/page-reviews";

@import "blocks/map";

@import "blocks/page-contacts";

@import "blocks/form-feedback";

@import "blocks/site-map";

@import "blocks/footer";
