@import "variables";

// Vendor
//---------------------------------

@import "vendor/normalize";

@import "vendor/swiper";

@import "vendor/slimselect";

// Global
//---------------------------------

@import "mixins";

@import "global/fonts";

@import "global/typography";

@import "global/reboot";

@import "global/utils";

@import "global/container";

//
// components
//-------
@import "components/main-nav";

@import "components/basket-block";

@import "components/custom-select";

@import "components/search-form";

@import "components/main-slider";

@import "components/services-section";

@import "components/section-goods";

@import "components/goods-cart";

@import "components/articles-list";

//
// blocks
//-------
@import "blocks/header";

@import "blocks/top-inform-block";

@import "blocks/search-block";

@import "blocks/brands-block";

@import "blocks/main-articles-block";

@import "blocks/main-page-text";

@import "blocks/category-main-block";

@import "blocks/footer";
